.h-screen-navbar-player {
  height: calc(100vh - 6rem - 6rem);
}

.PlayingControl {
  color: white !important;
}

.rhap_current-time {
  color: white !important;
}

.rhap_time.rhap_total-time {
  color: white !important;
}